body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
}

a { /* */ }
p { /* */ }
span { /* */ }

.content-centered {
  float: none;
  margin: 0 auto;
}

.wrapper {
  margin-left: 10%;
  margin-right: 10%;
}
